{% extends 'base.html' %}
{% load static %}

{% block body %}
    <style>

    .carousel-item img{
      max-width: 100%;
      max-height: 665px;
      object-fit: cover;
    }
    .imagen{
        max-width: 100%;
        max-height: 350px;
        object-fit: cover;
    }
    .carousel-indicators li {
        background-color: transparent;
        color: transparent;
        border: none;
    }
    .card-container {
      width: 320px;
      height: 320px;
      perspective: 1000px;
    }

    .card {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 0.6s;
        background-color: #505c68;
        color: white;
    }

    .card-front {
      transform: rotateY(0deg);
      
    }

    .card-back {
      transform: rotateY(-180deg);
      
    }
    .card-back img{
        height: 320px;
    }
    
    .card-front img{
        height: 320px;
    }
    .card-container:hover .card-front {
      transform: rotateY(180deg);
    }

    .card-container:hover .card-back {
      transform: rotateY(0deg);
    }
    .expanding-link {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      transition: transform 0.3s ease-out;
    }

    .expanding-link:hover {
      transform: scale(1.2);
      z-index: 1;
        border: 2px solid #007bff;
        border-radius: 10px;
    }

    .expanding-link::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      opacity: 0;
      transition: opacity 0.3s ease-out;
      z-index: -1;
    }

    .expanding-link:hover::before {
      opacity: 1;
    }
    p{
        text-align: justify;
    }
    .carousel-caption h1{
      text-shadow: 2px 2px #000; /* agrega una sombra de texto */
      font-weight: bold; /* aumenta el grosor de la fuente */
        font-family: 'Pacifico', cursive;
}
    .carousel-caption h5 {
      text-shadow: 2px 2px #000; /* agrega una sombra de texto */
      font-weight: bold; /* aumenta el grosor de la fuente */
}
    </style>
    <div class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/chins/plato1.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/chins/plato2.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/chins/plato3.jpg' %}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-caption d-none d-md-block">
                <h1 class="text-center">Chin's Restaurant</h1>
                <h5 class="text-center">Sabemos Como Complacerte</h5>
            </div>
          </div>
        <br>
        <div class="container">
        <!-- Contenido de la página aquí -->
            <div class="container">
              <!-- <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                  <div class="text-container">
                    <h2>Sobre el Restaurante</h2>
                      <p>¡Bienvenidos a nuestro restaurante! Somos un lugar donde la calidad de la comida y la atención
                          al cliente son nuestra prioridad. Ofrecemos una amplia variedad de platos, desde opciones
                          clásicas hasta creaciones únicas y llenas de sabor. Todos nuestros ingredientes son frescos y
                          seleccionados cuidadosamente para garantizar la mejor calidad en cada plato. Además, nuestro
                          personal amable y profesional está siempre dispuesto a atender tus necesidades y hacer de tu
                          experiencia en nuestro restaurante algo inolvidable. ¡Ven a visitarnos y descubre por qué somos
                          el lugar ideal para disfrutar de una comida deliciosa en un ambiente agradable y acogedor!</p>
                  </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                  <img src="{% static 'img/chins/artwork.png' %}" alt="Foto del personal" class="img-fluid w-100 mx-auto d-block imagen" style="object-position: center;">
                </div> 
              </div>-->
                <div class="row text-center">
                  <h2>Sugerencias del Chef</h2>
                    <div style="margin-top: 5%" class="col-md-4 d-flex justify-content-center">
                      <div class="card-container">
                          <div class="card card-front">
                            <img src="{% static 'img/chins/20230402_214824.jpg' %}" alt="Foto del plato" class="card-img-top">
                          </div>
                          <div class="card card-back">
                            <div class="card-body">
                              <h4 class="card-title">Roca Chin's</h4>
                              <p class="card-text">El plato Roca Chin's con sabor del mar es una deliciosa combinación
                                  de carne de cerdo, pollo, camarones y pescado estilizados, todo en un solo plato.
                                  Cada bocado ofrece una explosión de sabores del mar.</p>
                              <h5>¡Disfruta de este plato único y delicioso en 
                              nuestro restaurante!</h5>
                            </div>                            
                          </div>
                      </div>
                    </div>
                    <div style="margin-top: 5%" class="col-md-4 d-flex justify-content-center">
                      <div class="card-container">
                          <div class="card card-front">
                            <img src="{% static 'img/chins/20230406_194630.jpg' %}" alt="Foto del plato" class="card-img-top">
                          </div>
                          <div class="card card-back">
                            <div class="card-body">
                              <h4 class="card-title">Chimeneas aromatizadas con mojo criollo al carbón</h4>
                              <p class="card-text">Las Chimeneas aromatizadas con mojo criollo al carbón son una
                                  deliciosa opción para aquellos que disfrutan del sabor ahumado y característico
                                  de la carne cocida a la parrilla.</p>
                                <h6>¡Ven a nuestro restaurante y prueba este plato lleno de sabor y personalidad!</h6>
                            </div>                            
                          </div>
                      </div>
                    </div>
                    
                    <div style="margin-top: 5%" class="col-md-4 d-flex justify-content-center">
                      
                      <div class="card-container">
                          <div class="card card-front">
                            <img src="{% static 'img/chins/plato1.jpg' %}" alt="Foto del plato" class="card-img-top">
                          </div>
                          <div class="card card-back">
                            <div class="card-body">
                              <h4 class="card-title">Popurrí Chin's</h4>
                              <p class="card-text">El postre Popurrí Chin's es un dulce y delicioso final para cualquier
                                  comida. Este postre es una combinación de sabores y texturas que deleitan el paladar.
                                  Este postre es una deliciosa sorpresa que
                                  no te puedes perder. </p>
                                <h5>¡Ven a nuestro restaurante y disfruta del exquisito sabor del
                                  Popurrí Chin's!</h5>
                            </div>                            
                          </div>
                      </div>
                    </div>
                  </div>
                <br>
                <div class="row text-center">
                  <h2>Bebidas más populares</h2>
                    <div style="margin-top: 5%" class="col-md-4 d-flex justify-content-center">
                      <div class="card-container">
                          <div class="card card-front">
                            <img src="{% static 'img/chins/20230402_214824.jpg' %}" alt="Foto del plato" class="card-img-top">
                          </div>
                          <div class="card card-back">
                            <div class="card-body">
                              <h4 class="card-title">Roca Chin's</h4>
                              <p class="card-text">El plato Roca Chin's con sabor del mar es una deliciosa combinación
                                  de carne de cerdo, pollo, camarones y pescado estilizados, todo en un solo plato.
                                  Cada bocado ofrece una explosión de sabores del mar.</p>
                              <h5>¡Disfruta de este plato único y delicioso en 
                              nuestro restaurante!</h5>
                            </div>                            
                          </div>
                      </div>
                    </div>
                    <div style="margin-top: 5%" class="col-md-4 d-flex justify-content-center">
                      <div class="card-container">
                          <div class="card card-front">
                            <img src="{% static 'img/chins/20230406_194630.jpg' %}" alt="Foto del plato" class="card-img-top">
                          </div>
                          <div class="card card-back">
                            <div class="card-body">
                              <h4 class="card-title">Chimeneas aromatizadas con mojo criollo al carbón</h4>
                              <p class="card-text">Las Chimeneas aromatizadas con mojo criollo al carbón son una
                                  deliciosa opción para aquellos que disfrutan del sabor ahumado y característico
                                  de la carne cocida a la parrilla.</p>
                                <h6>¡Ven a nuestro restaurante y prueba este plato lleno de sabor y personalidad!</h6>
                            </div>                            
                          </div>
                      </div>
                    </div>
                    
                    <div style="margin-top: 5%" class="col-md-4 d-flex justify-content-center">
                      
                      <div class="card-container">
                          <div class="card card-front">
                            <img src="{% static 'img/chins/plato1.jpg' %}" alt="Foto del plato" class="card-img-top">
                          </div>
                          <div class="card card-back">
                            <div class="card-body">
                              <h4 class="card-title">Popurrí Chin's</h4>
                              <p class="card-text">El postre Popurrí Chin's es un dulce y delicioso final para cualquier
                                  comida. Este postre es una combinación de sabores y texturas que deleitan el paladar.
                                  Este postre es una deliciosa sorpresa que
                                  no te puedes perder. </p>
                                <h5>¡Ven a nuestro restaurante y disfruta del exquisito sabor del
                                  Popurrí Chin's!</h5>
                            </div>                            
                          </div>
                      </div>
                    </div>
                  </div>
                <br>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <a href="{% url 'menu' %}" style="font-size: 18px;" class="expanding-link text-secondary text-decoration-none">
                         <i style="color: #007bff;" class="fas fa-utensils"></i> Descubre Nuestro Men&uacute; <i style="color: #007bff;" class="fas fa-utensils"></i>
                      </a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}